{% extends "base-template.html" %}
{% block start %}

<div class="container mt-5">

  <h2 align="center">Share your Recipe!!</h2>
  <form class="col-7 mx-auto p-4 card shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label>Recipe Name</label>
      <input type="text" class="form-control" id="exampleRecipeName" name="recipe_name" required placeholder="Enter name">
    </div>
    <div class="mb-3">
      <label>Recipe Description</label>
      <textarea class="form-control" name="recipe_desc" required placeholder="Enter Desc"></textarea>
    </div>
    <div class="mb-3">
      <label>Recipe Image</label>
      <input class="form-control" type="file" name="recipe_image">
    </div>
    <button type="submit" class="btn btn-success">Add Recipe</button>
  </form>

</div>

{% endblock %}